.card-question {
    background: #ffffff;
    color: #495057;
    box-shadow: 0 2px 1px -1px rgb(0 0 0 / 20%), 0 1px 1px 0 rgb(0 0 0 / 14%), 0 1px 3px 0 rgb(0 0 0 / 12%);
    border-radius: 6px;
    margin-bottom: 25px;
}

h3 {
    color: rgba(0, 0, 0, 0.6509803922);
}

.submit button {
    padding: 5px;
    font-weight: 700;
}

:host ::ng-deep .p-paginator .p-dropdown {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding-left: .5rem !important;
    padding-right: .5rem !important;
}


:host ::ng-deep .p-inputtext.ng-invalid.ng-touched,
:host ::ng-deep .p-inputtext.ng-invalid.ng-dirty {
    border-color: red !important;
}