/* You can add global styles to this file, and also import other style files */

*, *::after, *::before {
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}


body, body .p-component {
    direction: rtl;
    font-family: Vazirmatn, sans-serif !important;
    font-feature-settings: "ss01";
}